
.full-height {
    height: 100vh;
}

.addUser {
    background-color: transparent;
    backdrop-filter: blur(2px);
    width: 45%;
    margin: 50px auto;
    margin-left: 35%;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);

}

.addUserForm .inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.addUserForm .inputGroup label {
    margin-top: 10px;
}

.addUserForm .inputGroup input {
    outline: none;
    margin-top: 5px;
    padding: 10px;
    border-radius: 30px;
    border-color: rgb(215, 243, 233);
    border-color: aliceblue;
}

.inputGroup button {
    margin-top: 5px;
    border-radius: 30px;
    background-color:  rgb(133, 20, 20);
    border-color:  rgb(133, 20, 20);
    

}

.inputGroup button :hover {
    background-color: rgb(146, 146, 146);
}

.login {
    margin-top: 30px;
    text-align: center;
}

.login .btn {
    width: 50%;
    border-radius: 30px;
    background-color:rgb(8, 104, 123)           ;
    ;
    border-color: rgb(8, 104, 123);
    ;
}

.login .btn:hover {
    background-color: rgb(129, 129, 129);
    border: 0;
}

.addUser h3 {
    text-align: center;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

p {
    color: red;
}

.login p {
    color: black;
}

.signup-header {
    display: flex;
    align-items: center;
    /* Center vertically */
    margin-bottom: 5px;
    color: white;
}

.icon {
    padding: 20px;
    margin-right: 8px;
    /* Space between icon and text */
    font-size: 1.5rem;
    /* Adjust size */
    /* Adjust opacity for effect */
}


.sign_background{
    width: 100%;
    height: 100%;
    background: url("../../Assets/WhatsApp\ Image\ 2024-10-17\ at\ 00.09.15_4bf3893d.jpg") ,
    linear-gradient(to bottom,
    rgba(0, 0, 0, .8) 100%,
    rgba(0, 0, 0, 0.8) 100%);
    position: relative;
    z-index: 1; /* Ensure content is above the pseudo-element */
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.sign_background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: -1; /* Place behind the content */
}