body {
    background-color: #080F28;
}

.title {
    font-family: "Gowun Batang", serif;
    color: #e5e7e7;
    margin-bottom: 20px;
    background-color: rgba(145, 20, 20, 0.5);
    width: 300px;
    text-align: center;
    border-radius: 10px;
    transition-duration: 1s;
}

.title:hover {
    width: 600px;
}

.Generies {
    font-family: "Gowun Batang", serif;
    color: #42bcbc;
    margin-bottom: 20px;
    width: 150px;
}

h5 {
    margin-top: 10px;
    color: aliceblue;
}

.card {
    background-color: #201f1f;
    margin-left: 30px;
    margin-bottom: 30px;
    transition-duration: 1s;
    position: relative;

}

.card .bookmark {
    position: absolute;
    bottom: 15px;
    right: 10px;
    color: yellow;
    font-size: 25px;
}

.card img {
    width: 100%;
}

.rate i {
    color: yellow;
    margin-right: 15px;
}

.card:hover {
    transform: scale(1.1);
    opacity: .7;
    cursor: pointer;
}

.rate p {
    color: aliceblue;
}

.rate {
    display: flex;
}

.shada {
    list-style: none;
}

.shada li {
    margin-top: 15px;
}

.shada li a {
    text-decoration: none;
    color: #ebeae5;
    font-size: 25px;
    margin-bottom: 25px;
    transition-duration: .5s;
}

.shada li a:hover {
    transform: scale(1.5);
    color: rgb(172, 172, 13);
}

.toAbout {
    margin-top: 50px;
    display: flex;
    color: aliceblue;
}

.toAbout .text {
    margin-left: 20px;
}

.toAbout .aboutimg {
    width: 70%;
    height: 300px;
}

.aboutimg img {
    width: 100%;
    height: 100%;
}

.btn {
    background-color: rgb(142, 25, 25);
    color: aliceblue;
    font-size: 17px;
    margin-right: 15px;
    margin-top: 20px;
}

.btn:hover {
    background-color: rgb(152, 149, 149);
}

.btnlink {
    text-decoration: none;
    color: aliceblue;
}

.abouttitle {
    color: #42bcbc;
}

/*Responsive Code*/

@media(max-width:600px) {
    .title {
        width: 200px;
        margin-left: 50px;
    }

    .title:hover {
        width: 300px;
    }

    ul li a {
        font-size: 15px;
    }

    .toAbout .text {
        width: 200px;
    }

    .toAbout {
        font-size: 10px;
    }
}