.full-height {
    height: 100vh;
}

.addUser {
    width: 25%;
    margin: 50px auto;

    padding: 20px;
    border-radius: 25px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
}

.addUserForm .inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.addUserForm .inputGroup label {
    margin-top: 10px;
}

.addUserForm .inputGroup input {
    margin-top: 2px;
    padding: 10px;
    border-radius: 30px;
    border-color: aliceblue;

}

.inputGroup button {
    margin-top: 10px;
    border-radius: 30px;
    height: 50px;
    background-color:  rgb(133, 20, 20);
    border-color:  rgb(133, 20, 20); 
}

.inputGroup button:hover {
    /* background-color: rgb(151, 248, 248); */
}

.login {
    margin-top: 20px;
    text-align: center;
}

.login .btn {
    width: 50%;
    border-radius: 30px;
    height: 40px;
    background-color: rgb(8, 104, 123);
    border-color: rgb(8, 104, 123);

}

.login .btn:hover {
    background-color: rgb(10, 115, 150);
}

.addUser h3 {
    text-align: center;
    font-weight: 500;
    color: rgb(10, 10, 10);
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
}

p {
    color: red
}

.login p {
    color: black;
}


hr {

    background-color: #858080;
    border: none;
    height: 2px;

}

.signup-header {
    display: flex;
    align-items: center;
    /* Center vertically */
    margin-bottom: 20px;
   
}

.icon {
    padding: 20px;
    margin-right: 8px;
    /* Space between icon and text */
    font-size: 1.5rem;
    /* Adjust size */
    /* Adjust opacity for effect */
}
.sign_background{
    width: 100%;
    height: 100%;
    background: url("../../Assets/WhatsApp\ Image\ 2024-10-17\ at\ 00.09.15_4bf3893d.jpg") ,
    linear-gradient(to bottom,
    rgba(0, 0, 0, .8) 100%,
    rgba(0, 0, 0, 0.8) 100%);
    position: relative;
    z-index: 1; /* Ensure content is above the pseudo-element */
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}